@font-face {
    font-family: 'Gilroy';
    src: url("gilroy-regular.woff2") format("woff2"), url("gilroy-regular.woff") format("woff");
    font-style:  normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url("gilroy-semibold.woff2") format("woff2"), url("gilroy-semibold.woff") format("woff");
    font-style:  normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Galien';
    src: url("Galien-Bold.ttf") format("truetype"), url("Galien-Bold.otf") format("opentype");
    font-style:  normal;
    font-display: swap;
    font-weight: 700;
}
