.popup__button-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    background-image: url("../../../images/close.svg");
    border: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
}