.clients__title {
    width: 100%;
    max-width: 225px;
    margin: 0 97px 0 0;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: 700;
}

@media (max-width: 1120px) {
    .clients__title {
        margin: 0 0 30px 0;
        max-width: unset;
        text-align: center;
        padding: 0 30px;
        box-sizing: border-box;
    }
}